<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecursosHumanos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_RRHH_Connection" connectionString="XpoProvider=MSSqlServer;data source=CATASTRO\SQLEXPRESS;user id=INHGEOMIN;password=S0porT3*1934;initial catalog=RRHH;Persist Security Info=true" />
    </connectionStrings>
    <applicationSettings>
        <RecursosHumanos.Properties.Settings>
            <setting name="INHGEOMIN" serializeAs="String">
                <value>Data Source=CATASTRO\SQLEXPRESS;Initial Catalog=RRHH;Persist Security Info=True;User ID=INHGEOMIN; Password=S0porT3*1934</value>
            </setting>
        </RecursosHumanos.Properties.Settings>
    </applicationSettings>
</configuration>